table, thead, tr, th, tbody, td {
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: sans-serif;
}

table {
    width: 400px;
    height: 200px;
}

#mainHead {
    background-color: black;
    color: white;
    padding: 5px 0;
    font-size: 1.2em;
}

.blank {
    background-color: black;
}

.columnHead {
    background-color: gray;
    color: white;
    font-size: 1.2em;
}

#rowOne {
    background-color: #dfdfdf;
    text-align: center;
}

#rowTwo {
    background-color: #b9b9b9;
    text-align: center;
}

#rowThree {
    background-color: #dfdfdf;
    text-align: center;
}

th[scope="row"] {
    padding: 0 10px;
}