@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, dl, dt, dd, ol, ul, li, form, label, 
tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

#meetbanner {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	background-color: #EA526F;
	color: #F7F7FF;
	font-size: 2.5vw;
	font-weight: 700;
	padding: 1.5vh 0px;
}

.topHeader {
	display: grid;
	grid-template-columns: 25vw 1fr 25vw;
	grid-template-rows: 8vh;
	background-color: #279AF1;
	color: #F7F7FF;
}

.topHeader picture img {
	display: flex;
	margin: 0 auto;
	padding: 5% 0;
	height: 85%;
	text-align: center;
}

h1 {
	font-family: 'Nunito', sans-serif;
	align-self: center;
	font-size: 1.4em;
}

.socialNav {
	display: flex;
	flex-direction: row;
	margin: auto auto;
}

.socialNav a:hover, .socialNav a:active {
	background-color: transparent;
}

a.social img {
	height: 3vh;
	padding: 0px 1vw;
}

.bottomHeader {
	display: grid;
	grid-template-columns: repeat(10,1fr);
	background-color: #23B5D3;
	color: #F7F7FF;
}

#currentDate {
	grid-column: 3/9;
	font-family: 'Nunito', sans-serif;
	font-size: 4vw;
	color: #F7F7FF;
	margin: auto 0;
	text-align: center;
	font-weight: 600;
}

nav {
	background-color: #23B5D3;
}

.bottomHeader button {
	background-color: transparent;
	border: none;
	font-size: 8vw;
	color: #F7F7FF;
}

#navButton span:nth-child(1) {
	display: block;
}

#navButton span:nth-child(2) {
	display: none;
	font-family: 'Nunito', sans-serif;
}

#navButton.open span:nth-child(1) {
	display: none;
}

#navButton.open span:nth-child(2) {
	display: block;
	font-family: 'Nunito', sans-serif;
}

nav ul {
	display: none;
	list-style: none;
}

nav ul.open {
	display: block;
}

nav a {
	display: block;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 10vw;
	line-height: 1.6;
	color: #F7F7FF;
	text-align: center;
}

nav a:hover, nav a:active {
	background-color: #EA526F;
	color: #353645;
}

section#hero {
    overflow: hidden;
	display: grid;
	height: 60vh;
	grid-template-columns: 100vw;
	grid-template-rows: repeat(6, 10vh);
}

#hero picture {
	grid-column: 1/2;
	grid-row: 1/7;
}

#hero h3 {
	display: block;
	font-family: 'Inter', sans-serif;
	padding-top: 2vh;
	font-size: 9vh;
	color: #F7F7FF;
	padding-left: 4vw;
	line-height: 1.1;
	grid-column: 1/2;
	grid-row: 1/7;
	position: relative;
	background-color: rgba(53, 54, 69, .6);
}

#hero a {
	grid-column: 1/2;
	grid-row: 5/7;
	position: relative;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 7vw;
	font-weight: 600;
	text-decoration: none;
	border-radius: 12px;
	background-color: #EA526F;
	color: #F7F7FF;
	align-self: center;
	width: 40vw;
	margin-left: 4vw;
	padding: 3vw;
}

#hero a:hover, #hero a:active {
	background-color: #F7F7FF;
	color: #EA526F;
}

#events, #news, #weather, #companyAd1, #companyAd2, #joinCall {
	background-color: #23B5D3;
	color: #353645;
	text-align: center;
	padding: 1vh 5vw;
	font-family: 'Inter', sans-serif;
	border-top: 4px solid #F7F7FF;
	line-height: 1.4;
}

hr {
	color: #353645;
}

.companyImg {
	width: 30vw;
}

#joinCall a {
	display: block;
	width: 40vw;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 6vw;
	font-weight: 600;
	text-decoration: none;
	border-radius: 12px;
	background-color: #EA526F;
	color: #F7F7FF;
	padding: 3vw;
	margin: 1.5vh auto;
}

#joinCall a:hover, #joinCall a:active {
	background-color: #F7F7FF;
	color: #EA526F;
}

footer {
	background-color: #279AF1;
	color: #F7F7FF;
	padding: 1vh 0;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	line-height: 1.4;
	font-weight: 600;
}

div.topFooter picture img {
	height: 85%;
}

footer p a {
	color: #353645;
	text-decoration: none;
}

footer p a:hover, p a:active {
	color: #F7F7FF;
}