@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, dl, dt, dd, ol, ul, li, form, label, 
tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

#meetbanner {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	background-color: #EA526F;
	color: #F7F7FF;
	font-size: .9em;
	font-weight: 700;
	padding: 1.5vh 0px;
}

.topHeader {
	display: grid;
	grid-template-columns: 25vw 1fr 25vw;
	grid-template-rows: 8vh;
	background-color: #279AF1;
	color: #F7F7FF;
}

.topHeader picture img {
	display: flex;
	margin: 0 auto;
	padding: 5% 0;
	height: 85%;
	text-align: center;
}

h1 {
	font-family: 'Nunito', sans-serif;
	align-self: center;
	font-size: 1.3em;
}

.socialNav {
	display: flex;
	flex-direction: row;
	margin: auto auto;
}

.socialNav a:hover, .socialNav a:active {
	background-color: transparent;
}

a.social img {
	height: 3vh;
	padding: 0px 1vw;
}

.bottomHeader {
	display: grid;
	grid-template-columns: repeat(10,1fr);
	background-color: #23B5D3;
	color: #F7F7FF;
}

#currentDate {
	grid-column: 3/9;
	font-family: 'Nunito', sans-serif;
	font-size: .9em;
	color: #F7F7FF;
	margin: auto 0;
	text-align: center;
	font-weight: 600;
}

#currentDatedesktopview {
	display: none;
}

nav {
	background-color: #23B5D3;
}

.bottomHeader button {
	background-color: transparent;
	border: none;
	font-size: 8vw;
	color: #F7F7FF;
}

#navButton span:nth-child(1) {
	display: block;
}

#navButton span:nth-child(2) {
	display: none;
	font-family: 'Nunito', sans-serif;
}

#navButton.open span:nth-child(1) {
	display: none;
}

#navButton.open span:nth-child(2) {
	display: block;
	font-family: 'Nunito', sans-serif;
}

nav ul {
	display: none;
	list-style: none;
}

nav ul.open {
	display: block;
}

nav a {
	display: block;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 10vw;
	line-height: 1.6;
	color: #F7F7FF;
	text-align: center;
}

nav a:hover, nav a:active {
	background-color: #EA526F;
	color: #353645;
}

section#hero {
    overflow: hidden;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(6, 10vh);
}

#hero picture {
	display: grid;
	grid-column: 1/2;
	grid-row: 1/7;
	place-content: center center;
}

#hero h3 {
	display: block;
	font-family: 'Inter', sans-serif;
	padding-top: 2vh;
	font-size: 9vh;
	color: #F7F7FF;
	background-color: rgba(53, 54, 69, .4);
	padding-left: 4vw;
	line-height: 1.1;
	grid-column: 1/2;
	grid-row: 1/7;
}

#hero a {
	grid-column: 1/2;
	grid-row: 5/7;
	position: relative;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 7vw;
	font-weight: 600;
	text-decoration: none;
	border-radius: 12px;
	background-color: #EA526F;
	color: #F7F7FF;
	align-self: center;
	width: 40vw;
	margin-left: 4vw;
	padding: 3vw;
}

#hero a:hover, #hero a:active {
	background-color: #F7F7FF;
	color: #EA526F;
}

#events, #news, #weather, #joinCall, .companyAd {
	background-color: #23B5D3;
	color: #353645;
	text-align: center;
	padding: 1vh 6vw;
	font-family: 'Inter', sans-serif;
	border-top: 4px solid #F7F7FF;
	line-height: 1.4;
}

.companyAd h4 {
	padding-bottom: 1vh;
}

.companyImg {
	width: 30vw;
}

.companyAdmobile {
	display: none;
}

#temp-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2vh 0;
}

#temp {
	font-size: 2em;
	padding-right: 1.5vw;
	margin: auto 0;
}

#weather_icon {
	width: 15vw;
	margin: auto 0;
}

#joinCall a {
	display: block;
	width: 40vw;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 6vw;
	font-weight: 600;
	text-decoration: none;
	border-radius: 12px;
	background-color: #EA526F;
	color: #F7F7FF;
	padding: 3vw;
	margin: 1.5vh auto;
}

#joinCall a:hover, #joinCall a:active {
	background-color: #F7F7FF;
	color: #EA526F;
}

footer {
	background-color: #279AF1;
	color: #F7F7FF;
	padding: 1vh 0;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	line-height: 1.4;
	font-weight: 600;
}

div.topFooter picture img {
	height: 10vh;
}

footer p a {
	color: #353645;
	text-decoration: none;
}

footer p a:hover, p a:active {
	color: #F7F7FF;
}

/*Discover Page*/

#discover {
	text-align: center;
	font-family: 'Inter', sans-serif;
}

#discover h3 {
	padding-top: 2vh;
	font-size: 1.4em;
}

#discover p {
	padding-top: 1vh;
	font-size: 1.2em;
}

#discover picture {
	display: flex;
	justify-content: center;
}	

/*Join Page*/
#join form {
	font-family: 'Inter', sans-serif;
}

#join form fieldset {
	margin: 2vw;
	border: 3px solid #279AF1;
	border-radius: 10px;
}

#join form legend {
	color: #353645;
	margin: 0 auto;
	padding: 0 2vw;
	font-size: 1.2em;
	font-weight: 600;
}

#join form label.formTop {
	display: block;
	padding-top: 1vh;
	font-size: 1em;
	font-weight: 600;
	color: #353645;
}

#join form li {
	list-style-type: none;
}

#join form input, select {
	display: block;
	font-size: 1em;
	border: solid 1px #353645;
	border-radius: 4px;
	padding: .75em;
	width: 92%;
}

#join form textarea {
	display: block;
	width: 96%;
}

#join form input.formSubmit {
	border: none;
	background-color: #EA526F;
	color: #F7F7FF;
	font-size: 1.2em;
	font-weight: 600;
	border-radius: 12px;
	margin-top: 2vh;
	padding: .75em;
	width: 100%;
}

#join form label.formTop input:required, select:required {
	border-left: 5px solid red;
}

#join form label.formTop input:required:valid, select:required:valid {
	border-left: 5px solid green;
}


#membership {
	background-color: #23B5D3;
	font-family: 'Inter', sans-serif;
}

#membership h3 {
	color: #F7F7FF;
	font-size: 1.4em;
	margin-left: 10vw;
	padding: 3vh 0;
}

#membership h4 {
	color: #F7F7FF;
	font-size: 1.1em;
	padding: 1vh 0;
	margin-left: 10vw;
}

#membership ul {
	padding-bottom: 2vh;
}

#membership li {
	color:#353645;
	font-size: 1em;
	line-height: 1.5;
	margin-left: 14vw;
	margin-right: 5vw;
}

/*Thank You*/
#thankyou {
	text-align: center;
	font-family: 'Inter', sans-serif;
}

#thankyou h3 {
	font-size: 2em;
	font-weight: 700;
	padding: 5vh 0 2vh 0;
}

#thankyou p {
	font-size: 1.4em;
	padding: 0 15vw 5vh 15vw;
	line-height: 1.5;
}

/*Directory*/
#menu {
	font-family: 'Inter', sans-serif;
	text-align: center;
	padding-top: 1vh;
	font-size: 1.3em;
}

#menu button {
	background-color: #EA526F;
	border: none;
	color: #F7F7FF;
}

#menu button:active {
	background-color: #F7F7FF;
	border: none;
	color: #EA526F;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.cards section {
	background-color: #a7d6fa;
	border: 5px solid #279AF1;
	color: #353645;
	border-radius: 10px;
	width: 300px;
	height: 400px;
    margin: .5em;
    padding: 1em;
}

.cards section img {
	max-width: 280px;
	max-height: 100px;
}

.cards section h2 {
	font-size: 1.6em;
	font-weight: 800;
	padding-bottom: 2vh;
}

.cards section h3 {
	font-size: 1.4em;
	font-weight: 800;
	padding: 2vh 0;
}

.cards section h5 {
	font-size: .8em;
	font-weight: 500;
	padding: 2vh 0;
}

.cards section p {
    font-size: 1.2em;
    line-height: 1.4;
}

.rows {
	display: none;
	font-family: 'Inter', sans-serif;
	margin: 0 auto;
	font-size: 1.1em;
	padding: .5em;;
}

.rows tr {
	background-color: #a7d6fa;
}

.rows tr td {
	padding: .6em;
}