@media screen and (min-width: 992px) {
    #meetbanner {
        font-size: 1.3em;
    }
    
    .topHeader {
        display: grid;
        grid-template-columns: 10vw 1fr 24vw 12vw;
        grid-template-rows: 11vh;
    }

    h1 {
        font-size: 2em;
    }

    a.social img {
        height: 3.5vh;
        padding: 0px 1vw;
    }

    #currentDate {
        grid-column: 3/9;
        font-family: 'Nunito', sans-serif;
        font-size: 1.2em;
        color: #F7F7FF;
        margin: auto 0;
        text-align: center;
        font-weight: 600;
    }

    #currentDatedesktopview {
        display: block;
        font-size: 1.1em;
        font-family: 'Nunito', sans-serif;
	    color: #F7F7FF;
	    margin: auto 0;
	    text-align: center;
	    font-weight: 600;
    }

    #mainNav {
        display: flex;
        flex-direction: row;
        border-bottom: 4px solid #F7F7FF;
    }

    .bottomHeader {
        display: none;
    }

    .bottomHeader button {
        display: none;
    }

    nav a {
        display: block;
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 1.8em;
        line-height: 1.6;
        color: #F7F7FF;
        text-align: center;
        padding: 8px 2vw;
    }

    nav a:hover, nav a:active {
        background-color: #EA526F;
        color: #353645;
    }

    .info-grid {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        gap: 4px;
    }

    section#hero {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
        border: none;
    }

    #hero h3 {
        padding: 2vh 50vw 0vh 4vw;
    }

    #hero a {
        grid-column: 1/2;
        grid-row: 4/7;
        font-size: 2.5vw;
        width: 14vw;
        padding: 1.5vw;
    }

    #events {
        grid-column: 1/2;
        grid-row: 1/2;
        border: none;
        padding: .5vh 2vw;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
        border: none;
        padding: .5vh 2vw;
    }

    #weather_icon {
        width: 5vw;
        margin: auto 0;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
        border: none;
        padding: .5vh 2vw;
    }

    #joinCall {
        grid-column: 1/2;
        grid-row: 3/4;
        border: none;
        padding: .5vh 2vw;
    }

    #joinCall a {
        width: 12vw;
        font-size: 2vw;
        padding: 1vw;
    }

    #ads {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 1/4;
        background-color: #23B5D3;
    }

    .companyAd {
        padding: 2vh 2vw;
        border: none;
    }

    .companyAdmobile {
        display: block;
    }

    .companyImg {
        width: 10vw;
    }

    footer {
        font-size: 1.4em;
    }

    /*Join.html*/
    #join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 3px solid #F7F7FF;
    }
}